.blog{
    width: 100%;
    height: 1000px;
}
.our-blog{
    text-align: center;
    padding-top: 120px;
}
.our-blog p{
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    color: var(--color--primary);
}
.our-blog h1{
    font-size: 38px;
    line-height: 53px;
    font-weight: 500;
    color: rgb(50,50,50);
}
.blog-wrap{
    display: flex;
    justify-content: space-around;
}
.blog-card{
    width: 29%;
    height: 100%;
}
.blog-image{
    background-image: url(/Users/taro/Desktop/IT/camp/imgs/blog1.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.blog-image-one{
    background-image: url(/Users/taro/Desktop/IT/camp/imgs/blog2.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.blog-image-two{
    background-image: url(/Users/taro/Desktop/IT/camp/imgs/blog3.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.blog-info{
    display: flex;
    justify-content: space-between;
}

