.pricing{
    width: 100%;
    height: 950px;
    background-color: rgb(248, 248, 248);
}
.plan_header{
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    background-color: rgb(248, 248, 248);
}
.plan_header p{
    font-size: 14px;
    line-height: 25px;
    color: var(--color--primary);
    font-weight: 600;
    letter-spacing: 1px;
}
.plan_header h1{
    font-size: 38px;
    line-height: 53px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}
.plan_cards{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    text-align: center;
    padding-top: 80px;
    column-gap: 25px;
}
.plan{
    border: 0.5px solid rgb(225,225,225);
    border-radius: 5px;
}
.plan i{
    font-size: 16px;
    line-height: 16px;
    color: var(--color--primary);
}
.plan h3{
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    letter-spacing: 1px;
}
.plan h1{
    font-size: 40px;
    line-height: 72px;
    font-weight: 500;
    color: var(--color--primary);
}
.plan p{
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: rgb(153,153,153);
    padding: 10px 55px;
}
.plan button{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    width: 60%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--color--primary);
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}
.plan button{
    cursor: pointer;
}
.plan:hover{
    box-shadow: 0px 30px 40px rgb(223, 222, 222);
    background-color: white;
    transition: 0.3s;
}