.marketing{
    background-color: rgb(248,248,248);
    height: 800px;
}
.customers{
    text-align: center;
    margin: auto;
    padding-top: 10%;
}
.customers p{
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color--primary);
}
.customers h1{
    font-size: 38px;
    line-height: 53px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}
.m-managers{
    display: flex;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    gap: 30px;
}
.all-info{
    background-color: white;
    position: relative;
    border-radius: 4px;
}
.quotes{
    background-color: rgb(248,248,248);
    border: 10px solid rgb(248,248,248);
    border-radius: 50%;
    z-index: 2;
    height: 35px;
    font-size: 35px;
    position: absolute;
    top: -30px;
    left: 30px;
    color: var(--color--primary);
}
.manager-quote{
    display: flex;
    align-self: center;
    padding: 5px;
    width: 80%;
}
.manager-quote p{
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0 20px 10px;
}
.roger-scott{
    display: flex;
    padding-top: 30px;
    background-color: rgb(248,248,248);
}
.roger-scott-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.roger-scott-info{
    padding-left: 15px;
}
.roger-scott-info p{
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    color: rgb(17,17,17);
}
.roger-scott-info span{
    font-size: 13px;
    line-height: 23px;
    font-weight: 500;
    color: var(--color--primary);
}